/*GENERIC*/
body {
  font: 16px "Muli", sans-serif;
  color: #2a2a2a;
  background: #f7f7f7;
}

.left {
  float:left;
}

blockquote p {
  margin-left: 1rem;
  border-left: 20px solid #DCC67A;
  background-color: #f9f5e7;
  font-size: 1.5rem;
  color: #C31330;
  padding: 2rem;
  float: right;
}

h1 {
    font-size:2.5rem;
    /*font-weight: 600;*/
    color:#C31330;
/*    text-align: center;*/
}

h2 {
    font-size:1.75rem;
}

h3 {
  font-size:1.25rem;
}

hr {
    border-bottom:1px solid #AAA3A2;
}

hr.red-hr {
    border-bottom: 0.75rem solid #C31330;
}

[type=text] {
    margin:0;
}

@media screen and (min-width: 40em) {
    header {
    padding-top:.5rem;
    padding-bottom: 1rem;
  }
}

header {
    padding-top:2rem;
    padding-bottom:5rem;
    background:linear-gradient(180deg, #AAA3A2, #f7f7f7);
}

@media screen and (max-width: 39.9375em) {
  header {
    padding-top:0;
  }
}

@media screen and (min-width: 64em) {
  #primary-nav .menu {
    margin-left: 8.33333%;
  }
}


@media screen and (min-width: 64em) {
  #home #primary-nav .menu {
    margin:0;
  }
}

#home header {
    text-align:center;
    padding-bottom:10rem;
}

.home-logo {
    display:inline-block;
}

.top-bar {
    padding:0;
}

.top-bar input {
    max-width:100%;
}

.top-bar, .top-bar ul {
    background:none;
}

@media screen and (min-width: 40em) {
  .title-bar {
    display: none;
  }
}

@media screen and (max-width: 63.9375em) {
    #content .column, .columns {
        padding-left:2rem;
        padding-right:2rem;
    }
}

/* -- Links -- */
a:link, a:visited {
  color: #C31330;
  text-decoration: none;
}

a:hover, a:active {
  color: #950e25;
  text-decoration: underline;
}

img a {
  border: none;
}
.orientation {
    text-align: center;
    font-size:2rem;
    font-weight:bold;
/*    margin-top:2.5rem;*/
    margin-bottom:2.5rem;
    line-height: 1.2;
}

.orientation-b {
    font-size:1.5rem;
    color: #fff;
    background-color: #C31330;
    padding: 10px 18px;
    text-align: center;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
}
.button {
    padding:0;
    margin:0;
    border:none;
}

.circle {
    border-radius: 50%;
    display:block;
    margin:auto;
    width:60%;
}

.circle img {
    border-radius: 50%;
    display:block;
    margin:auto;
}

#content {
    padding-top:1rem;
    margin-top:-2rem;
}

#home #content {
    margin-top:-8.75rem;
}


footer {
    border-top: 0.75rem solid #DCC67A;
    margin-top:1rem;
    padding:1rem 0;
}

#custom-footer-text {
  padding-left:.5rem;
}

.footer-logo {
    float:left;
    margin-right:10px;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
  color: #ff8000;
}


/*INTERIOR HEADER*/
#search-container {
  margin-top:10px;
  position:relative;
  font-size: 0.875em;
  line-height: 2.28571em;
}

#search-container h2 {
  display: none;
}
#search-container input[type=text], #search-container button {
  border: 1px solid #ccc;
  background: #fafafa;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  height: 30px;
}
#search-container input[type=text] {
  padding: 3px;
  width: 100%;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#search-container button {
  background: #4E4C4C;
  color: white;
  position: absolute;
  border: 0;
  right: 0;
  top: 0;
  width: 30px;
  text-indent: -9999px;
}
#search-container button:after {
  font-family: "FontAwesome";
  content: "\f002";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.show-advanced.button {
  width: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.show-advanced.button:after {
  content: "\2026";
  display: block;
  text-indent: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  background: #4E4C4C;
  top: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 30px;
}

#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 1.5em 1em;
  *behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form fieldset p {
  margin: 0;
}
#advanced-form > *:last-child {
  margin-bottom: 0em;
}
#advanced-form.open {
  display: block;
}

#advanced-form input[type="radio"] {
  margin-right: 5px;
}

#search-form fieldset fieldset {
  margin-bottom: 32px;
}

#search-container.with-advanced .button {
  right: 30px;
}

#right-nav {
    float:left;
}


#primary-nav .menu>li>a {
    color:#fff;
    font-size:1.25rem;
    font-variant: small-caps;
    padding:0;
}

#primary-nav li {
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 1em 18px 0;
}

#primary-nav .home {
    padding:0;
}

/*#primary-nav .home > a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 85px;
  min-width:465px;
  background: url(../img/DC_logo_light.png) center top no-repeat;
}*/
.inner-logo {
    width:100%;
}

#inner-logo-wrap {
  padding-top:10px;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #inner-logo-wrap {
    margin-bottom:1rem;
    }
  }
}


.home-link {
    padding: 1em 18px;
}
/*#primary-nav .about > a, #primary-nav .exhibits > a {
    border-bottom:1px solid #fff;
}
#primary-nav .about > a:hover, #primary-nav .exhibits > a:hover {
    border-bottom:1px solid #C31330;
}*/

#primary-nav ul a {
  text-decoration: none;
  display: block;

}
#primary-nav [aria-haspopup="true"]:after {
  font-family: "FontAwesome";
  content: "\f0da";
  margin: -1px 0 0 .5em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#primary-nav [aria-haspopup="true"].open:after {
    content: "\f0d7";
}

.menu .active>a {
    background: none;
    color: #C31330;
}



/*HOMEPAGE*/

/**home header**/
@media screen and (max-width: 63.9375em) {
  #home header {
    padding-top:10px;
  }
}
#home #primary-nav {
  padding-top: 1.5rem;
}

#home #primary-nav li {
    padding:0;
    padding-right:1.5rem;
    padding-left:1.5rem;
}


#home #primary-nav a {
    width:150px;
}

#home #primary-nav .nav-item > a {
  margin-top: 10px;
  font-size: 1.33rem;
  color: #fff;
  background-color: #C31330;
  padding: 10px 18px;
  text-align: center;
}


@media screen and (min-width: 40em) {
    #home #primary-nav li.home {
    padding:0 100px;
  }
}

#home #primary-nav .home > a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 150px;
  min-width:150px;
  background: url(../img/dc_logo_dark.png) center top no-repeat;
}

#home #primary-nav .about > a, #home #primary-nav .exhibits > a {
    border:none;
}


#home #primary-nav .about > a:hover, #home #primary-nav .exhibits > a:hover {
    border:none;
    text-decoration: none;
    background-color: #DCC67A;
    color: #fff;
}


#home #search-container {
    clear: both;
    margin: auto;
    position:relative;
    width: 90%;
    font-size: 0.875em;
    line-height: 2.28571em;
}

@media screen and (min-width: 40em) {
    #home #search-container {
        width:50%;
    }
}

/** home content */

.featured-title {
    font-size: 1.3rem;
}

.exhibit {
    text-align:center;
}

@media screen and (max-width: 40em) {
    .exhibit {
        margin-bottom:3rem;
    }
}

/*EXHIBIT STYLES*/

/* exhibit browse*/

.exhibit-row {
    border-top:1px solid #AAA3A2;
    padding:2rem 0;
}

.exhibit-row:first-of-type {
  border:none;
}

.exhibits.browse h2 {
    font-size:1.25rem;
}

@media screen and (max-width: 63.9375em) {
  .exhibits.browse h2 {
    margin-top:.5rem;
  }
}

/* tag cloud */
.tag-cloud {
    clear:both;
}
.hTagcloud {
    margin:1rem 0;
    padding:1rem 0;
/*    border-top:1px solid #DCC67A;
    border-bottom:1px solid #DCC67A;*/
}
.hTagcloud ul {
    list-style: none;
    margin:0;
}
.hTagcloud ul li {
/*    margin-right:20px;
    display:inline-block;*/

}

.hTagcloud ul li a {
    min-width: 100px;
    white-space: nowrap;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    background:#C31330;
    color:#fff;
/*    border-radius: 50%;*/
/*    word-wrap: break-word;
    padding:.7rem 1.5rem;*/
}

.items.tags .hTagcloud li a {
  padding: .7rem 1rem;
  float:left;
  margin-right:.5rem;
  margin-bottom:.5rem;
}

.items.browse .tags a {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    background:#C31330;
    color:#fff;
    padding:.5rem 1rem;
}

.hTagcloud ul li a:hover, .items.browse .tags a:hover {
    text-decoration: none;
    background:#DCC67A;
}

/** exhibits show **/

.exhibits.show h1 {
    text-align: left;
    font-size:2.1rem;
    line-height: 1.1;
}

.exhibits.show h2 {
    font-size:1.5rem;
}
#sidebar-wrap.column {
    padding:0;
}
#sidebar {
    background: #e6e6e6;
    padding: .9375rem;
    border-top: .25rem solid #C31330;
}
#sidebar h5 {
    border-bottom: 1px solid #AAA3A2;
    margin:0;
    margin-bottom:.35rem;
}
@media screen and (max-width: 63.9375em) {
  .sticky {
        position: initial !important;
    }
}
#exhibit-pages ul {
    list-style:none;
    margin:0;
}

#exhibit-pages li {
    padding: .35em 18px;
    line-height:1.35;
}

#exhibit-pages li.current {
    background:#DCC67A;
}

#exhibit-pages li.current a {
    color:#fff;
}

#exhibit-pages a {
    text-decoration: none;
}

#related-exhibits {
    margin-left:1em;
    padding-top:1rem;
}

#related-exhibits a {
    text-decoration: none;
    color: #fff;
    background-color: #C31330;
    padding: 5px 10px;
    text-align: center;
    margin-bottom:5px;
    display:inline-block;
}

#related-exhibits a:hover {
    background-color: #DCC67A;
}

.exhibits.show #exhibit-blocks img {
  padding-top:7px;
}

.exhibit-item-caption p {
  line-height: 1.1rem;
}

/*ABOUT PAGE*/
.about-nav {
    margin-top:40%;

}

/*ITEM PAGES*/
/*item browse*/
@media screen and (max-width: 63.9375em) {
  .items.browse h2 {
    margin-top:.5rem;
  }
}
.items-nav li.active{
    font-weight:bold;
}
.pagination {
    float:left;
}
.pagination li {
    float:left;
}
.pagination form {
    text-decoration: none;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
}

.pagination input {
    border: 1px solid #ccc;
    text-align: right;
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}
.pagination_previous, .pagination_next {
    padding-top:6px;
}

#sort-links {
    float:left;
    list-style-type: none;
    padding: 0 10px;
    display: block;
}
@media screen and (min-width: 40em) {
    #sort-links {
        float:right;
        padding:0;
    }
}

.sort-label {
    display: inline-block;
}
#sort-links-list {
    display: inline-block;
    margin: 0.75em 0 0.75em 10px;
}
#sort-links ul li {
    padding-left: 20px;
    display: inline-block;
}
.desc a:after, .asc a:after {
  font-family: "FontAwesome";
  display: inline-block;
  height: 0;
  width: 0;
  margin-right: 10px;
}

.desc a:after {
  content: "\00a0\f0d8";
}

.asc a:after {
  content: "\00a0\f0d7";
}
.item {
    border-top:1px solid #AAA3A2;
    padding:1rem 0;
    clear:both;
}

.items.browse .tags {
    display:table;
    border-collapse:separate;
    border-spacing:1rem 0;
    margin-left: -1rem;
}

.items.browse .tags a {
    margin-right:1rem;
/*    height:75px;
    width:75px;
    max-width:75px;*/

}

/*items show*/
.items.show #dublin-core-title {
  display:none;
}

.element-set {
  margin-top:1rem;
}

.items.show h3 {
  margin:0;
}

.items.show .element {
  margin-bottom:1rem;
}

/* items search */
.field {
    margin-bottom: 1.5rem;
}

.label {
    background: none;
    color:#2a2a2a;
    padding:0;
    font-size:.875rem;
}

select {
    width:auto;
}

#advanced-search-form input {
    width:auto;
}

#advanced-search-form button {
    color: #fff;
    background-color: #C31330;
    padding: 10px 18px;
}

#advanced-search-form .columns {
    padding:0;
}

#advanced-search-form .submit {
    margin-top:1rem;
    border:none;
    color: #fff;
    background-color: #C31330;
    padding: 10px 18px;
}

.search-entry input {
    display:inline-block;
}

/*SEARCH RESULTS*/
body.search td img {
    border-radius: 50%;
    max-width: 166px;
}