/*GENERIC*/
body {
  font: 16px "Muli", sans-serif;
  line-height: 32px;
  color: #333;
  background: #fff;
}

p {
    line-height: inherit;
}

h1 {
    font-size:2.5rem;
    /*font-weight: 600;*/
    color:#C31330;
    text-align: center;
}

h2 {
    font-size:2rem;
}

hr {
    border-bottom:1px solid #AAA3A2;
}

hr.red-hr {
    border-bottom: 0.75rem solid #C31330;
}

[type=text] {
    margin:0;
}

@media screen and (min-width: 40em) {
    header {
    border-bottom:1px solid #AAA3A2;
    padding-bottom: 1rem;
  }
}

#home header {
    border-bottom: none;
}
.top-bar {
    padding:0;
}

.top-bar input {
    max-width:100%;
}

.top-bar, .top-bar ul {
    background:none;
}

@media screen and (min-width: 40em) {
  .title-bar {
    display: none;
  }
}

/* -- Links -- */
a:link, a:visited {
  color: #C31330;
  text-decoration: none;
}

a:hover, a:active {
  color: #950e25;
  text-decoration: underline;
}

img a {
  border: none;
}
.orientation {
    text-align: center;
}
.button {
    padding:0;
    margin:0;
    border:none;
}

.circle {
    border-radius: 50%;
    display:block;
    margin:auto;
    margin-bottom: 1rem;
    width:75%;
}

.circle img {
    border-radius: 50%;
    display:block;
    margin:auto;
}

#content {
    padding-top:1rem;
}

footer {
    border-top: 0.75rem solid #DCC67A;
    margin-top:1rem;
    padding:1rem 0;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
  color: #ff8000;
}


/*INTERIOR HEADER*/
#search-container {
  margin-top:10px;
  position:relative;
  font-size: 0.875em;
  line-height: 2.28571em;
}

#search-container h2 {
  display: none;
}
#search-container input[type=text], #search-container button {
  border: 1px solid #ccc;
  background: #fafafa;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  height: 30px;
}
#search-container input[type=text] {
  padding: 3px;
  width: 100%;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#search-container button {
  background: #4E4C4C;
  color: white;
  position: absolute;
  border: 0;
  right: 0;
  top: 0;
  width: 30px;
  text-indent: -9999px;
}
#search-container button:after {
  font-family: "FontAwesome";
  content: "\f002";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.show-advanced.button {
  width: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;
  behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.show-advanced.button:after {
  content: "\2026";
  display: block;
  text-indent: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  background: #4E4C4C;
  top: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 30px;
}

#advanced-form {
  display: none;
  background-color: #fff;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 1.5em 1em;
  *behavior: url("../javascripts/boxsizing.htc");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#advanced-form fieldset p {
  margin: 0;
}
#advanced-form > *:last-child {
  margin-bottom: 0em;
}
#advanced-form.open {
  display: block;
}

#advanced-form input[type="radio"] {
  margin-right: 5px;
}

#search-form fieldset fieldset {
  margin-bottom: 32px;
}

#search-container.with-advanced .button {
  right: 30px;
}

#primary-nav {
    margin-top:10px;
}

#right-nav {
    float:left;
}

#primary-nav .menu>li>a {
    padding:0;
}

#primary-nav li {
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 1em 18px 0;
}

#primary-nav .home {
    padding:0;
}

/*#primary-nav .home > a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 85px;
  min-width:465px;
  background: url(../img/DC_logo_light.png) center top no-repeat;
}*/
.inner-logo {
    width:75%;
}

.home-link {
    padding: 1em 18px;
}
#primary-nav .about > a, #primary-nav .exhibits > a {
    border-bottom:1px solid #fff;
}
#primary-nav .about > a:hover, #primary-nav .exhibits > a:hover {
    border-bottom:1px solid #C31330;
}

#primary-nav ul a {
  text-decoration: none;
  display: block;

}
#primary-nav [aria-haspopup="true"]:after {
  font-family: "FontAwesome";
  content: "\f0da";
  margin: -1px 0 0 .5em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#primary-nav [aria-haspopup="true"].open:after {
    content: "\f0d7";
}

.menu .active>a {
    background: none;
    color: #C31330;
}



/*HOMEPAGE*/

/**home header**/
#home #primary-nav {
    margin-top:0;
}

#home #primary-nav li {
    padding:0;
}

@media screen and (min-width: 40em) {
    #home #primary-nav a {
    width:210px;
  }
}

@media screen and (min-width: 40em) {
    #home #primary-nav .nav-item > a {
      margin-top: 10px;
      font-size: 1.33rem;
      color: #fff;
      background-color: #C31330;
      padding: 10px 18px;
      text-align: center;
    }
}

@media screen and (min-width: 40em) {
    #home #primary-nav li.home {
    padding:0 100px;
  }
}

#home #primary-nav .home > a {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 150px;
  min-width:150px;
  background: url(../img/dc_logo_dark.png) center top no-repeat;
}

#home #primary-nav .about > a, #home #primary-nav .exhibits > a {
    border:none;
}


#home #primary-nav .about > a:hover, #home #primary-nav .exhibits > a:hover {
    border:none;
    text-decoration: none;
    background-color: #DCC67A;
    color: #fff;
}


  #home #search-container {
  clear: both;
  margin: auto;
  position:relative;
  width: 90%;
  font-size: 0.875em;
  line-height: 2.28571em;
}

@media screen and (min-width: 40em) {
    #home #search-container {
        width:50%;
    }
}




/** home content */

/*#home #content {
    padding-top:10px;
}*/

.featured-exhibit {
    text-align:center;
}

.featured-title {
    font-size: 1.5rem;
}

.exhibit-list {
    margin-top: 1rem;
    padding-top: 2rem;
}



/*EXHIBIT STYLES*/

/* exhibit browse*/
.exhibit {
    text-align: center;
}

.exhibit-row {
    border-top:1px solid #AAA3A2;
    padding-top:1rem;
}

.exhibits.browse h2 {
    font-size:1.25rem;
}

/* tag cloud */
.tag-cloud {
    clear:both;
}
.hTagcloud {
    margin:1rem 0;
    padding:1rem 0;
/*    border-top:1px solid #DCC67A;
    border-bottom:1px solid #DCC67A;*/
}
.hTagcloud ul {
    list-style: none;
    margin:0;
}
.hTagcloud ul li {
/*    margin-right:20px;
    display:inline-block;*/

}

.hTagcloud ul li a {
    height:100px;
    width:100px;
    max-width:100px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    background:#C31330;
    color:#fff;
    border-radius: 50%;
}

.hTagcloud ul li a:hover {
    text-decoration: none;
    background:#DCC67A;
}

/** exhibits show **/

.exhibits.show h1 {
    text-align: left;
}
#sidebar-wrap.column {
    padding:0;
}
#sidebar {
    background: #e6e6e6;
    padding: .9375rem;
    border-top: .25rem solid #C31330;
}
#sidebar h5 {
    border-bottom: 1px solid #AAA3A2;
    margin:0;
    margin-bottom:.35rem;
}

#exhibit-pages ul {
    list-style:none;
    margin:0;
}

#exhibit-pages li {
    padding: .35em 18px;
    line-height:1.35;
}

#exhibit-pages li.current {
    background:#DCC67A;
}

#exhibit-pages li.current a {
    color:#fff;
}

#exhibit-pages a {
    text-decoration: none;
}

#related-exhibits {
    margin-left:1em;
    padding-top:1rem;
}

#related-exhibits a {
    text-decoration: none;
    color: #fff;
    background-color: #C31330;
    padding: 5px 10px;
    text-align: center;
}

#related-exhibits a:hover {
    background-color: #DCC67A;
}

/*ABOUT PAGE*/
.about-nav {
    margin-top:40%;

}